<section data-ng-controller="FeedbacksController" data-ng-init="find()">
	<div class="page-header">
		<h1>Feedbacks</h1>
		<div class="text-right"><label>Search:</label>
		 	<input ng-model="searchText[queryBy]">
		</div>
		<div class="text-right ng-hide" ><label>Search By:</label>
		<select ng-model="queryBy">
                    
                    <option value="projectname">Project Name</option>
                    
        </select>  
	</div>
	</div>
	
			
	<table class="table table-hover">
		<thead>
			<tr>
				<th><strong>Posted On</strong></th>
				<th><strong>Posted By</strong></th>
				<th><strong>Project Name</strong></th>
				<th><strong>Rating</strong></th>
				<th><strong>Feedback</strong></th>
				<th></th>
			</tr>
			
		</thead>
		<tbody>	
			<tr data-ng-repeat="feedback in feedbacks | filter:searchText | pagination: curPage * pageSize | limitTo: pageSize">

				<td>{{feedback.created | date:'mediumDate'}}</td>
				<td>{{feedback.user.displayName}}</td>
				<td>{{feedback.projectname}}</td>
				<td>{{feedback.rating}}</td>
				<td>{{feedback.feedback}}</td>
				<td>{{calculate(feedback.rating)}}</td>
			</tr>
		</tbody>
	</table>
	<div class="pagination-div text-right" ng-show="feedbackCount>'10'">
          <button type="button" class="btn btn-primary" ng-disabled="curPage == 0" ng-click="curPage=curPage-1">PREV</button>
          <span>Page {{curPage + 1}} of {{ numberOfPages() }}</span>
          <button type="button" class="btn btn-primary" ng-disabled="curPage >= feedbackCount/pageSize - 1" ng-click="curPage = curPage+1">NEXT </button>
    </div>
	<div class="alert bg-info" data-ng-if="feedbacks.length"><strong>Average Rating:</strong> {{calculateAverage(MyData)}}</div>
	<div class="alert alert-warning text-center" data-ng-if="feedbacks.$resolved && !feedbacks.length">
		No feedbacks yet!!
	</div>
	
</section>

 