<section data-ng-controller="FeedbacksController" data-ng-init="findOne()">
<div ng-show="authorized">
	<div class="page-header">
	</div>
	<div class="col-md-12">
		<form name="feedbackForm" class="signin form-horizontal" data-ng-submit="update(feedbackForm.$valid)" novalidate>
				<h3>Edit Feedback</h3>
			<fieldset>
				<div class="form-group" ng-class="{ 'has-error' : submitted && feedbackForm.projectname.$invalid}">
					<label class="control-label" for="projectname">Project Name</label>

					<div class="controls">
						<input name="projectname" type="text" data-ng-model="feedback.feedback.projectname" id="projectname" class="form-control" ng-pattern="/^[a-zA-Z0-9 ]*$/" placeholder="Project Name" required>
					</div>
					<span ng-show="(feedbackForm.projectname.$invalid && feedbackForm.projectname.$dirty)" class="text-danger">Don't use special characters.</span>
					<div ng-show="submitted && feedbackForm.projectname.$invalid" class="help-block">
						<p ng-show="feedbackForm.projectname.$error.required" class="text-danger">Project Name is required</p>
					</div>
				</div>
				<div class="form-group" ng-class="{ 'has-error' : submitted && feedbackForm.feedback.$invalid}">
					<label class="control-label" for="Developer">Developer</label>
					<div>
						<input type="text" name="developer" data-ng-model="feedback.developer[0].displayName" id="developer" class="form-control" placeholder="Developer" required readonly>
					</div>
					<div ng-show="submitted && feedbackForm.developer.$invalid" class="help-block">
						<p ng-show="feedbackForm.developer.$error.required" class="text-danger">Developer is required</p>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label" for="rating">Rating</label>
					<div class="controls">
						<select name="rating" class="form-control" data-ng-model="feedback.feedback.rating" required>
							<option value="1">1</option>
							<option value="2">2</option>
							<option value="3">3</option>
							<option value="4">4</option>
							<option value="5">5</option>
						</select>
					</div>
				</div>
				<div class="form-group" ng-class="{ 'has-error' : submitted && feedbackForm.feedback.$invalid}">
					<label class="control-label" for="feedback">Feedback</label>
					<div class="controls">
						<textarea name="feedback" data-ng-model="feedback.feedback.feedback" id="feedback" class="form-control" cols="30" rows="10" ng-pattern="/^[a-zA-Z ]*$/" placeholder="Feedback" required></textarea>
					</div>
					<span ng-show="feedbackForm.feedback.$invalid" class="text-danger">Please use characters only.</span>
					<div ng-show="submitted && feedbackForm.feedback.$invalid" class="help-block">
						<p ng-show="feedbackForm.feedback.$error.required" class="text-danger">Feedback is required</p>
					</div>
				</div>
				<div class="form-group text-center">
					<input type="submit" value="Update" class="btn btn-primary">
				</div>
				<div data-ng-show="error" class="alert text-danger">
					<strong data-ng-bind="error"></strong>
				</div>
			</fieldset>
		</form>
	</div>
</div>
	<div class="text-center">	
	<label ng-if="authentication.user.roles=='developer'" class="alert alert-warning text-center">You are not authorized to view this page.</label>
	</div>
</section>